In [3]:
import pandas as pd

In [18]:
produtos = pd.DataFrame({
    'Brasileirao': [4,2,0], 'Copa do Brasil':[6,2,0], 'Libertadores':[2,1,0]},
    index=['Cruzeiro', 'Atletico', 'America'])

In [25]:
produtos.head()

          Brasileirao  Copa do Brasil  Libertadores
Cruzeiro            4               6             2
Atletico            2               2             1
America             0               0             0

In [4]:
brasileirao = pd.read_csv("./BRA.csv")

In [19]:
brasileirao.loc[(brasileirao.Home == 'Cruzeiro') & (brasileirao.Season == 2013)][['Home', 'HG', 'AG', 'Away']]

         Home   HG   AG           Away
388  Cruzeiro  5.0  0.0          Goias
415  Cruzeiro  1.0  0.0    Corinthians
419  Cruzeiro  2.0  2.0  Internacional
449  Cruzeiro  3.0  0.0        Nautico
465  Cruzeiro  4.0  1.0    Atletico-MG
479  Cruzeiro  1.0  0.0       Coritiba
500  Cruzeiro  0.0  0.0         Santos
516  Cruzeiro  5.0  1.0        Vitoria
545  Cruzeiro  5.0  3.0          Vasco
564  Cruzeiro  1.0  0.0    Flamengo RJ
578  Cruzeiro  1.0  0.0    Atletico-PR
592  Cruzeiro  3.0  0.0    Botafogo RJ
621  Cruzeiro  4.0  0.0     Portuguesa
645  Cruzeiro  0.0  2.0      Sao Paulo
660  Cruzeiro  1.0  0.0     Fluminense
681  Cruzeiro  5.0  3.0       Criciuma
704  Cruzeiro  3.0  0.0         Gremio
723  Cruzeiro  2.0  2.0    Ponte Preta
744  Cruzeiro  1.0  2.0          Bahia

In [6]:
brasileirao.loc[:, ['Home', 'HG', 'AG', 'Away']]

               Home   HG   AG         Away
0         Palmeiras  1.0  1.0   Portuguesa
1      Sport Recife  1.0  1.0  Flamengo RJ
2       Figueirense  2.0  1.0      Nautico
3       Botafogo RJ  4.0  2.0    Sao Paulo
4       Corinthians  0.0  1.0   Fluminense
...             ...  ...  ...          ...
4175    Corinthians  0.0  1.0  Atletico-MG
4176         Cuiaba  2.0  1.0     Coritiba
4177          Goias  0.0  4.0    Sao Paulo
4178  Internacional  3.0  0.0    Palmeiras
4179         Santos  0.0  2.0    Fortaleza

[4180 rows x 4 columns]

In [13]:
brasileirao[brasileirao.AG > 5]

,Country,League,Season,Date,Time,Home,Away,HG,AG,Res,PH,PD,PA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA
1948,Brazil,Serie A,2017,09/06/2017,00:00,Chapecoense-SC,Gremio,3.0,6.0,A,2.57,3.22,3.07,2.6,3.24,3.07,2.5,3.07,2.89